body {
	color: #444;
	font-size: 16px;
	line-height: 1.6;
	margin: 40px auto;
	max-width: 1200px;
	padding: 0 10px;
}

input#searchField {
    width: 100%;
    padding: 1em;
}

.selectTextbook {
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}
.selectTextbook > div {
    display: flex;
    width: 100%;
}
.selectTextbook > div > .title {
    text-align: center;
    width: 100%;
}
.textbookSelector {
    padding: 1em;
    background-color: lightblue;
    margin: 0.2em;
    flex: 1;
    cursor: pointer;
}
.textbookSelector.active {
    background-color: lightgreen;
    cursor: unset;
}
.resultPage {
    display: flex;
}
.resultPage .result {
    flex: 1;
}
.resultPage .iframeDiv {
    flex: 2;
}
iframe {
    width: 100%;
    min-height: 60vh;
}
a {
    color: darkgreen;
    text-decoration: none;
}

